matrix:
- name: Markdown
  sources:
  - '**/*.md'
  - '!node_modules/**/*.md'
  - '!.git/**/*.md'
  aspell:
    lang: en
    d: en_US
  dictionary:
    wordlists:
    - .github/wordlist.txt
    encoding: utf-8
  pipeline:
  - pyspelling.filters.markdown:
      markdown_extensions:
      - pymdownx.superfences:
  - pyspelling.filters.html:
      comments: false
      ignores:
      - code
      - pre
